@import '../node_modules/bootstrap-scss/bootstrap.scss';

* {
  line-height: 1.5;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

//先針對media queries的width設為變數
$pc-media: 992px;
$pad-media: 768px;
$phone-media: 576px;

//手機
@mixin phone-width() {
  @media (min-width: $phone-media) {
    @content;
  }
}
//平板
@mixin pad-width() {
  @media (min-width: $pad-media) {
    @content;
  }
}
//電腦
@mixin pc-width() {
  @media (min-width: $pc-media) {
    @content;
  }
}

.card-img-top {
  height: 164px;
  @include pad-width() {
    height: 185px;
  }
  @include pc-width() {
    height: 175px;
  }
}

.title {
  font-size: 24px;
  margin-top: 48px;
  @include pad-width() {
    font-size: 32px;
  }
  @include pc-width() {
    margin-top: 66px;
  }
}

.tags {
  .tag {
    font-size: 20px;
    @include pad-width() {
      font-size: 24px;
    }
    &.active {
      border-bottom: 2px solid $primary !important;
      color: $primary;
    }
  }
}

.destination .card {
  .card-img {
    height: 78px;
  }
  &:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, transparent, $black);
    opacity: 1;
    transition: all 0.5s;
    border-radius: $border-radius;
  }
  .card-img-overlay {
    z-index: 10;
  }
}
