<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://unpkg.com/swiper/css/swiper.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css")
    link(rel="stylesheet", href="css/style.css")
    
  body
    //- navbar start
    nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top
      .container
        a.navbar-brand(href='index.html') 
          img(src="image/ic-logo-aloha.svg", alt="")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.dropdown.mr-5
              a#navbarDropdown.nav-link.dropdown-toggle.text-dark(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.fas.fa-globe
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='#') Chinese
                a.dropdown-item(href='#') English
            li.nav-item.mr-5
              a.nav-link.text-dark(href='#')
                | Sign up 
                span.sr-only (current)
            li.nav-item
              a.nav-link.text-dark(href='#') Login
    //- navbar end
    section#carouselExampleCaptions.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleCaptions', data-slide-to='0')
        li(data-target='#carouselExampleCaptions', data-slide-to='1')
        li(data-target='#carouselExampleCaptions', data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='image/index-banner.jpg' style="object-fit:cover;height:320px;", alt='...')
        .carousel-item
          img.d-block.w-100(src='image/DinDaeng1.jpg' style="object-fit:cover;height:320px;", alt='...')
        .carousel-item
          img.d-block.w-100(src='image/Bangkok.jpg' style="object-fit:cover;height:320px;", alt='...')
        .solgan.h-100.position-absolute.text-white(style="top: 41%;left: 30%;")
          h1.font-weight-bold Discover your ideal hotel
      a.carousel-control-prev(href='#carouselExampleCaptions', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleCaptions', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
    section.container(style="margin-top:-35px;")
      .row.d-flex.justify-content-center
        .col-lg-10.col-md-8.col-12.bg-secondary.d-flex.justify-content-between.align-items-center.p-3
          select.form-control
          select.form-control
          select.form-control
          button.btn.btn-primary SEARCH
    section.container
      // Swiper
      h3.title.mb-4 Top Choices
      ul.tags.d-flex.px-0.mb-4
        li.tag.border-bottom.px-4.active Bail
          sup 128
        li.tag.border-bottom.px-4 Okinawa
          sup 67
        li.tag.border-bottom.px-4 Taipei
          sup 53
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .card.border-0
              img.card-img-top.rounded.mb-1(src='image/top1.jpg', alt='Card image cap')
              .card-body.p-0
                h6.card-title.mb-1 Hotel Aqua
                p.card-text.mb-1
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star.mr-1
                  span.text-muted 5.0
                  small.text-muted ・2k reviews
                p.card-text TWD 2,480
                  small.ml-2
                    del.text-muted TWD 3,980
          .swiper-slide
            .card.border-0
              img.card-img-top.mb-1.rounded(src='image/top2.jpg', alt='Card image cap')
              .card-body.p-0
                h6.card-title.mb-1 Mr. Kawasaki Inn
                p.card-text.mb-1
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star.mr-1
                  span.text-muted 4.0
                  small.text-muted ・500 reviews
                p.card-text TWD 3,380
          .swiper-slide
            .card.border-0
              img.card-img-top.mb-1.rounded(src='image/top3.jpg', alt='Card image cap')
              .card-body.p-0
                h6.card-title.mb-1 Weekly Paradise
                p.card-text.mb-1
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star.mr-1
                  span.text-muted 4.0
                  small.text-muted ・470 reviews
                p.card-text TWD 4,780
          .swiper-slide
            .card.border-0
              img.card-img-top.mb-1.rounded(src='image/top4.jpg', alt='Card image cap')
              .card-body.p-0
                h6.card-title.mb-1 Beast Hotel
                p.card-text.mb-1
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star.mr-1
                  span.text-muted 4.0
                  small.text-muted ・283 reviews
                p.card-text TWD 1,980
    section.container.destination
      h3.title.mb-4 Popular Destinations
      .row
        .col-lg-4.col-md-6.col-12.mb-2.mb-md-4
          .card.text-white
            img.card-img(src='image/Osaka.jpg', alt='...')
            .card-img-overlay.d-flex.align-items-center.justify-content-between
              .content
                p.text-muted.mb-0.text-uppercase JAPAN
                h5.card-title.mb-0 Osaka
              i.fas.fa-angle-down.text-white
        .col-lg-4.col-md-6.col-12.mb-2.mb-md-4
          .card.text-white
            img.card-img(src='image/Kyoto.jpg', alt='...')
            .card-img-overlay.d-flex.align-items-center.justify-content-between
              .content
                p.text-muted.mb-0.text-uppercase JAPAN
                h5.card-title.mb-0 Kyoto
              i.fas.fa-angle-down.text-white
        .col-lg-4.col-md-6.col-12.mb-2.mb-md-4
          .card.text-white
            img.card-img(src='image/Reykjavic.jpg', alt='...')
            .card-img-overlay.d-flex.align-items-center.justify-content-between
              .content
                p.text-muted.mb-0.text-uppercase iceland
                h5.card-title.mb-0 Reykjavík
              i.fas.fa-angle-down.text-white
        .col-lg-4.col-md-6.col-12.mb-2.mb-md-4
          .card.text-white
            img.card-img(src='image/Paris.jpg', alt='...')
            .card-img-overlay.d-flex.align-items-center.justify-content-between
              .content
                p.text-muted.mb-0.text-uppercase London
                h5.card-title.mb-0.mr-auto Paris  
              i.fas.fa-angle-down.text-white
        .col-lg-4.col-md-6.col-12.mb-2.mb-md-4
          .card.text-white
            img.card-img(src='image/Roman.jpg', alt='...')
            .card-img-overlay.d-flex.align-items-center.justify-content-between
              .content
                p.text-muted.mb-0.text-uppercase Italy
                h5.card-title.mb-0 Roma    
              i.fas.fa-angle-down.text-white
        .col-lg-4.col-md-6.col-12.mb-2.mb-md-4
          .card.text-white
            img.card-img(src='image/Bangkok.jpg', alt='...')
            .card-img-overlay.d-flex.align-items-center.justify-content-between
              .content
                p.text-muted.mb-0.text-uppercase Thailand
                h5.card-title.mb-0 Bangkok 
              i.fas.fa-angle-down.text-white
    section.container
        // Swiper
        .d-flex.justify-content-between.align-items-baseline
          h3.title.mb-4.mr-auto Get Inspiration
          button.btn.btn-outline-primary.text-uppercase see more
        .swiper-container2.swiper-container.mb-5.mb-lg-6
          .swiper-wrapper
            .swiper-slide
              .card.border-0
                img.card-img-top.rounded.mb-1(src='image/top1.jpg', alt='Card image cap')
                .card-body.p-0.pt-4
                  h4.card-title.mb-1 Hotel Aqua
                  p.card-text.text-muted Italy is the fifth most visited country in the world, with a total of 52.3 million…
            .swiper-slide
              .card.border-0
                img.card-img-top.mb-1.rounded(src='image/top2.jpg', alt='Card image cap')
                .card-body.p-0.pt-4
                  h4.card-title.mb-1 Mr. Kawasaki Inn
                  p.card-text.text-muted Asian tourists primarily visit Thailand for Bangkok and the historical, natural, and…
            .swiper-slide
              .card.border-0
                img.card-img-top.mb-1.rounded(src='image/top3.jpg', alt='Card image cap')
                .card-body.p-0.pt-4
                  h4.card-title.mb-1 Weekly Paradise
                  p.card-text.text-muted The national cuisine has been described as Pacific Rim, incorporating the native Māori…
    section.footer-banner.container-fluid.bg-secondary.py-4.py-md-7
      .container
        .row.d-flex.align-items-center.flex-column
          h2.footer-banner-title.font-weight-bold.mb-3.mb-md-4 Subscribe for Exclusive Offer
          .col-md-10.col-lg-6.col-12
            .input-group.input-group-lg
              input.form-control.rounded-0(type='text', placeholder="Your email address", aria-label="Your email address", aria-describedby='basic-addon2')
              .input-group-append
                button.btn.btn-primary.rounded-0.text-uppercase(type='button') subscribe
    footer.footer.container.py-4
      .row
        .col-lg-4.col-md-6.col-12
          small.text-muted © 2020 ALOHA, Inc. All rights reserved.
        .col-lg-4.col-md-6.col-12
          ul.d-flex.justify-content-md-end.justify-content-center.justify-content-lg-start
            li.mr-4
              a.text-muted(href="#") FAQs
            li.mr-4
              a.text-muted(href="#") Terms of use
            li.mr-4
              a.text-muted(href="#") Privacy policy
        .col-lg-4.d-none.d-lg-flex.justify-content-end
          ul.d-lg-flex.justify-content-end
            li.mr-4
              i.fas.fa-globe
              select.border-0.text-muted
                option(value="chinese") Chinese
                option(value="english") English
            li
              i.fas.fa-dollar-sign
              select.border-0.text-muted
                option(value="twd") TWD
                option(value="usd") USD




    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js")
    script(src="https://unpkg.com/swiper/js/swiper.min.js")
    script.
      var swiper = new Swiper('.swiper-container', {
        //- loop: true,
        centeredSlides: true,
        grabCursor: true,
        slidesPerView: 2,
        spaceBetween: 30,
        breakpoints: {
        768: {
          slidesPerView: 3,
        },
        992: {
          slidesPerView: 4,
          centeredSlides: false,
        },
      }
      });
      var swiper = new Swiper('.swiper-container2', {
        //- loop: true,
        centeredSlides: true,
        grabCursor: true,
        slidesPerView: 1,
        spaceBetween: 30,
        breakpoints: {
        768: {
          slidesPerView: 3,
          centeredSlides: false,
        },
        992: {
          slidesPerView: 3,
          centeredSlides: false,
        },
      }
      });