<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="https://unpkg.com/swiper/css/swiper.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css")
    link(rel="stylesheet", href="css/style.css")  
  body
    section.container-fluid
        .row(style="min-height:100vh;")
            .col-lg-8.py-4.h-100.login-img
                .container.row(style="min-height:100vh;")
                    .col-12.d-flex.flex-column.justify-content-between.align-items-start
                        .content
                            a.navbar-brand(href='index.html') 
                                img(src="image/ic-logo-aloha.svg", alt="")
                            h1.font-weight-bold(style="margin-top:118px;") An ideal hotel makes a 
                                br
                                | wonderful Trip.
                            small.mt-3 Discover your dream destination and hotel on ALOHA.com
                        .badge.badge-dark.py-2.px-3
                            i.fas.fa-map-marker-alt.mr-2
                            | Osaka Castel, Japan
            .col-lg-4.d-flex.align-items-center
                .container.row
                    .col-12
                        h3 Login
                        form
                            .form-group
                                label(for='exampleInputEmail1') Email address
                                input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp')
                                
                            .form-group
                                label(for='exampleInputPassword1') Password
                                input#exampleInputPassword1.form-control(type='password')
                            small#emailHelp.form-text.text-muted By signing in or creating an account, you agree with our Terms & Conditions and Privacy Statement
                            .form-group.form-check
                                input#exampleCheck1.form-check-input(type='checkbox')
                                label.form-check-label(for='exampleCheck1') Remember me
                            button.btn.btn-primary.w-100.rounded-0(type='submit') LOGIN
                            p.text-muted.text-center
                                small Don’t have an account yet? 
                                    a.text-primary.font-weight-bold(href="#") Sign up

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js")
